.forgotpanel{

    background-color: $secondary-color;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px $secondary-color;

}

.forgotttl{

    font-size: 40pt;
    color: #3e662c;
    text-align: center;

}